:root {
  --background: #222222;
  --neutral: #6d6d6d;
  --bright-text: #f9f9f9;
  --accent: #fe0100;
  --accent-muted: #ae3130;
}

body {
  background-color: var(--background);
  color: var(--bright-text);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

a {
  --hyperlink-underline-color: var(--accent-muted);
  color: var(--accent);
  background-image: linear-gradient(to bottom,
    var(--hyperlink-underline-color) 0,
    var(--hyperlink-underline-color) 100%);
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  text-decoration: none;
}
/*
a:hover {
  color: var(--accent);
  background-image: linear-gradient(to bottom,
    var(--accent-muted) 0,
    var(--accent-muted) 100%);
}

*/